<%- include("partials/header.ejs") %>
<%- include("partials/carousel.ejs") %>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Your Story matters too! Let's  Share and Heal </h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-5 py-6 px-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/breakup.jpg'); background-size: cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="pt-5 mt-5 mb-4 display-6 lh-1 " href="/api/posts/1" style="color:white; text-decoration: none;">From HeartBreak to hope : Real experiences</a>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/AAA-logo.svg" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              <small> ANAND JOSHI</small>
            </li>
  
            <li class="d-flex align-items-center">
              <small>Posted 3 days ago</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/drugs.jpg'); background-size: cover; ">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="pt-5 mt-5 mb-4 display-6 lh-1 "  href="/api/posts/2" style="color:white; text-decoration: none;" >Triumph over addiciton<br> Tales of Recovery</a>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/AAA-logo.svg" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              <small>Roxie Nafousi</small>
            </li>
            
            <li class="d-flex align-items-center">
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/personloss.jpg'); background-size: cover; ">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="pt-5 mt-5 mb-4 display-6 lh-1 "  href="/api/posts/3" style="color:white; text-decoration: none;" >Finding strength in Memories</a>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/AAA-logo.svg" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              <small>Roxie Nafousi</small>
            </li>
            
            <li class="d-flex align-items-center">
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/selfesteem.jpg'); background-size:cover; ">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="pt-5 mt-5 mb-4 display-6 lh-1 "  href="/api/posts/4" style="color:white; text-decoration: none;" >Triumph over addiciton<br> Tales of Recovery</a>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/AAA-logo.svg" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              <small>Roxie Nafousi</small>
            </li>
            
            <li class="d-flex align-items-center">
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/abuse.jpg'); background-size: cover; ">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <a class="pt-5 mt-5 mb-4 display-6 lh-1 "  href="/api/posts/5" style="color:white; text-decoration: none;" >Empowering Voices <br> Breaking The Silence</a>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/AAA-logo.svg" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              <small>Roxie Nafousi</small>
            </li>
            
            <li class="d-flex align-items-center">
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/academicpressure.jpg'); background-size:cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <a class="pt-5 mt-5 mb-4 display-6 lh-1"  href="/api/posts/6" style="color:white; text-decoration: none;">From pressure to progress <br> overcoming academic stress</a>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/images/AAA-logo.svg" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              <small>Priyanka </small>
            </li>
            <li class="d-flex align-items-center">
              <small>Posted 5d ago</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<br>





<%- include("partials/footer.ejs") %>